.notification{

    position: absolute;
    border-radius: 5px;
    padding: 2px 12px;
    color: white;
    right: 20px;
    top: 20px;

}

.success{

    border: 2px solid rgb(60, 208, 60);
    background-color: rgb(80, 228, 80);

}

.failure{

    border: 2px solid rgb(218, 60, 60);
    background-color: rgb(238, 80, 80);

}