.propertiesWidgetWrapper{
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 5px;
    border: 2px solid rgb(20, 20, 20);
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    max-height: 80%;
    background-color: rgb(60, 60, 60);
    color: white;
    overflow-y: auto;
}

.propertyInfo{
    font-size: 0.8rem;
    margin: 0px;
}

.checkboxWrapper{
    display: flex;
    flex-direction: row;
}

.propertiesWrapper{

    /* overflow-y: scroll; */

}

.propertyInputWrapper{

    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: baseline;

}

.propertyInput{
    flex: 1;
    max-width: 50%
}

.propertyName{
    flex: 1;
}