.sidebar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(194, 75, 75);
    height: 100%;
    width: 3.5%;
    font-size: 20px;
    border-right: 1px solid rgb(204, 203, 203);
    min-width: 60px;
}